html, body{
	/*font-family: 'Ubuntu', sans-serif;*/
	font-size: 100%;
	background: #ffffff;
}


.sidebar {
	background: #FAFAFA;
  	position: fixed;
  	border-right: 1px solid #E9E9E9;
  	left: 0px;
    height: 100%;
    width: 300px;
}

.sidebarchange{
	background: #FAFAFA;
    height: 100%;
    margin-top: 3em;
    margin-left: 2em;
    margin-right: 2em;
    border: 1px solid #E9E9E9;
}

.boxshadow {
	margin-top: 1em;
	background-color: white;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sidebar_top img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.sidebar_top h1{
	font-size:2em;
	margin-bottom:1em;
    text-align: center;
}

#tamu, #ecnu {
	height: 80px;
	width: 80px;
}

.sidelink {
	border-bottom: 1px solid #E9E9E9;
}

.sidelink a{
	font-size: 1.1em;
	display: block;
	text-decoration: none;
}
.sidelink a:hover{
	color: #e5ac9a;
}

.titles h2{
	font-weight:600;
	font-size:2.5em;
}

.boardless tbody tr td {
    border: none;
    vertical-align: middle;
}
.label-div {
    line-height: 25px;
}
.label-github {
	background-color: lightblue;
}
.coursebutton {
	border: none;
}

/* for side bar */
.section {
	display: block;
}

.table-of-contents.fixed {
  position: fixed;
}

.table-of-contents li{	
  padding-right: 18px;
  text-align: right;
  display: block;
  line-height: 40px;
}

.table-of-contents a {
  display: inline-block;
  font-weight: 400;
  color: #757575;
  padding-right: 18px;
  height: 2rem;
  display: inline-block;
  text-decoration: none;
}

.table-of-contents i{
	line-height: inherit;
	text-align: center;
	text-indent: 0px;
	width: 30px;
}

.table-of-contents a:hover {
  color: #e5ac9a;
  padding-right: 18px;
  text-decoration: none;
}

.table-of-contents a.active {
  font-weight: 700;
  color: #e5ac9a;;
  padding-right: 18px;
  text-decoration: none;
}

.sidelist ul {
  padding: 0;
  list-style-type: none;
}

.sidelist ul li {
  list-style-type: none;
}

.crpage-footer {
    margin: 0px auto;
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 10px;
    vertical-align: middle;
    color: #999999;
}

